@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

:root{
    --primary-clr: rgb(5, 118, 167);
    
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'EB Garamond', serif;
}

body{
    display:flex;
    justify-content: center;
    min-height:100vh;
    min-width:1000px;
    padding:30px;
    background: var(--primary-clr);
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./images/cd.jpg");
  background-size: cover;
  background-position: center;
  transition: background-image 0.3s ease;
   
}

.wrapper{
    display:flex;
    width:1200px;
    min-width:900px;
    border-radius:10px;
    overflow:hidden;

}

.sidebar{
    width:20%;
    min-width:250px;
    padding:20px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(182, 218, 234);
}

.search {
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    margin-top: 20px;
    position:relative;
}

.search input{

    width: 86%;
    height:40px;
    border: 1px solid black;
    border-radius: 3px;
    padding:0 15px;
    font-size: 14px;
    color: grey;
}
.search input:focus{
    outline: none;
    border: 1 px solid var(--primary-clr);

}

.search button{
    min-width:40px;
    height: 40px;
    border:none;
    border-radius: 3px;
    background-color: var(--primary-clr);
    font-size:14px ;
    color: rgb(255, 255, 255);
    cursor:pointer;
}

.search ul {
    max-height: 300px;
    overflow-y: auto;
    position: absolute;
    width: 100%;
    top: 40px;
    border-radius: 5px;
    transition: all 0.3s ease;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  .search ul li {
    padding: 10px 15px;
    border-bottom: 1px solid #f1f1f1;
    cursor: pointer;
    text-transform: capitalize;
  }
  .search ul li:last-child {
    border-bottom: none;
  }
  .search ul li:hover {
    background-color: #f1f1f1;
  }
  .search ul li.active {
    background-color: #f1f1f1;
  }

.weathericon{
    width:100%;
    height:150px;
    text-align:center;
    margin-top:20px;
    margin-bottom:45px;

}

.weathericon #icon{
    width:80%;
    height:146px;

}
.temperature{
    display:flex;

}
.temperature #temp{
    font-size: 70px;
    font-weight:100;
    line-height:1;
}
.temperature span{
    font-size:35px;
    margin-top:-10px;
    display:block;
}
.divider{
    width: 100%;
    height:1px;
    margin: 20px 0;
    background-color: black;
}

.conditionrain{
    font-size:16px;
    text-transform: capitalize;
}

.conditionrain div{
    display:flex;
    align-items:center;
    gap:10px;
    margin-bottom:2px;
}

.conditionrain div i{
    width:20px;
}

.location{
    display:flex;
    align-items:center;
    font-size:14px;
    gap:10px;
    margin-top:50px;
}

/* .locationicon{
    margin-top: 49px;
} */

.main{
    width:100%;
    min-width:400px;
    padding:20px 40px;
    position:relative;
    padding-bottom:90px;
    background-color: rgb(233, 240, 243);
}

.main nav{
    display:flex;
    align-items:center;
    justify-content:space-between;
}
nav .option{
    display:flex;
    gap:10px;
    align-items:center;
}

.option button{
    border:none;
    background:transparent;
    font-size:16px;
    font-weight:600;
    color:black;
    cursor:pointer;
    text-transform:capitalize;
}

.option button.active{
    color:var(--primary-clr);
}

nav .units button{
    width:40px;
    height:40px;
    border-radius:50%;
    /* color:black; */
    background-color:white;
}

.main.cards{
    display:flex;
    flex-wrap:wrap;
    gap:20px;
    margin-top:50px;
}

.cards .card{
    
    width:100px;
    height:130px;
    border-radius:20px;
    color:black;
    background-color:white;
    text-align:center;
    padding:10px 0;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    margin:5px;
}
.card-icon img{
   /* position: absolute; */
   left: 0;
   width: 65px;
   margin: -13px;
   margin-top:5px;
   height:50px;
}
.card-icon{
    /* position: relative; */
    height:100px;
    width:100px;
    margin:0 auto;
}
.day-temp{
  display:flex;
  font-size:12px;
  align-items:center;
  justify-content:center;
  margin-top: -15px;
  font-weight:bolder;
  
}

.highlights{
    display:flex;
    flex-wrap:wrap;
    gap:20px;
    margin-top:50px;
}

.highlights .heading{
    width:100%;
    font-size: 20px;
    font-weight:600;
    text-transform:capitalize;
}

.card2{
    width:250px;
    height:150px;
    border-radius:20px;
    color:black;
    background-color:white;

    padding:10px 20px;
    display:flex;
    flex-direction:column;
    margin: 10px 20px;
    

}

.card-heading{
    color:grey;
}

.content{
    margin-top:20px;
}

.content p:first-child{
    text-align:center;
    font-size:30px;
}

.content p:last-child
{
    font-size:16px;
    margin-top:20px;
    text-align:left;
}

.cards{
    display:flex;
    flex-wrap:wrap;
}


